@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    margin-top: 30px;
}

#demarrer {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    display: block;
}

#jeu {
    display: none;
}

#pendu {
    margin-top: 20px;
    font-size: 2em;
    width: 200px;
    height: 400px;
    margin: 20px auto;
    position: relative;
}

.part {
    display: none;
    position: absolute;
}

.head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid black;
    top: 50px;
    left: 75px;
}
.body {
    width: 10px;
    height: 100px;
    background: black;
    top: 110px;
    left: 100px;
}
.arm {
    width: 60px;
    height: 10px;
    background: black;
}

.left-arm {
    transform: rotate(-45deg);
    top: 120px;
    left: 40px;
}

.right-arm {
    transform: rotate(45deg);
    top: 120px;
    left: 110px;
}

.leg {
    width: 60px;
    height: 10px;
    background: black;
}

.left-leg {
    transform: rotate(-45deg);
    top: 200px;
    left: 50px;
}

.right-leg {
    transform: rotate(45deg);
    top: 120px;
    left: 110px;
}
@keyframes showPart {
    from { opacity: 0;}
    to { opacity: 1}
}
.show {
    display: block;
    animation: showPart 0.6s ease-in-out;
}

#motCache {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
}

button {
    border-radius: 15px;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    cursor: pointer;
}

#messageFin {
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#rejouer {
    display: none;
    font-size: 1.1em;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.correct {
    background-color: rgb(24, 185, 24);
    /* Vert pour les choix corrects */
    color: white;
}

.incorrect {
    background-color: rgb(151, 12, 12);
    /* Rouge pour les choix incorrects */
    color: white;
}

button.disabled {
    background-color: gray;
    color: darkgray;
    cursor: not-allowed;
}

#erreursRestantes {
    margin-top: 30px;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#volumeControl {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#volumeControl label {
    margin-right: 10px;
}

#volumeControl input {
    width: 20vw;
}

#alphabet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#alphabet button {
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    flex: 1 1 45px;
    max-width: 45px;
}

#alphabet button:hover {
    background-color: #098f9e;
    scale: 1.4;
}


@media (min-width: 600px) {
    #alphabet button {
        flex: 1 1 calc(50% - 10px);
    }
}